<html>
  <head>
    <title>Project Detail</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/project.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid text-center d-flex mx-5">
        <a class="navbar-brand" href="#">
          <img src="/public/img/logo.png" alt="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="myproject">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="testimonial">Testimonial</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-link">
              <a href="contact" class="btn btn-outline-secondary">Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{range $index, $data := .Projects}}
    <div class="detail">
      <div class="container-detail" id="detail">
        <h1>{{$data.Name}}</h1>
        <div class="hero">
          <div>
            <img src="/public/img/phone.jpg" alt="phone" />
          </div>
          <div>
            <p class="judul">Duration</p>
            <div class="text">
              <i class="fa-regular fa-calendar"></i>
              <p>{{$data.Duration}}</p>
            </div>
            <p class="judul">Technologies</p>
            <div class="tech">
              <div class="jejer">
                {{if $data.Playstore}}
                <i class="fa-brands fa-google-play"></i>
                {{end}}
                <p>Playstore</p>
                {{if $data.Android}}
                <i class="fa-brands fa-android"></i>
                {{end}}
                <p>Android</p>
              </div>
              <div class="jejer">
                {{if $data.Java}}
                <i class="fa-brands fa-java"></i>
                {{end}}
                <p>Java</p>
                {{if $data.React}}
                <i class="fa-brands fa-react"></i>
                {{if $data.Android}}
                <p>React</p>
              </div>
            </div>
          </div>
        </div>
        <div class="paragraph">
          <p>{{$data.Detail}}</p>
        </div>
      </div>
    </div>
    <script src="public/js/detail.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
